body
{
	background-color: rgb(104, 187, 285);
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

header
{
	background-color: rgb(9, 30, 45);
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 50px;
}

h4, h3, h2, h1
{
	text-decoration: underline;
}

#left-box
{
	float: left;
	background-color: rgb(9, 30, 45);
	text-align: center;
	width: 30vh;
	margin-left: 20px;
	margin-right: 40px;
	padding-top: 15px;
	margin-bottom: 15px;
	border-radius: 50px;
}

.liste
{
	list-style: none;
	text-align: justify;
}

#right-box
{
	background-color: white;
	color: black;
	margin-left: 380px;
	margin-right: 20px;
	height: 650px;
	text-align: center;
	border-radius: 50px;
}


.box
{
	background-color: rgb(9, 30, 45);
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	color: white;
}

#box2::-webkit-scrollbar
{
	width: 1em;

}

footer
{
	background-color: rgb(9, 30, 45);
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 75px;
	text-align: center;
	border: 1px solid #5E73DE;
	height: 70px;
	border-radius: 50px;
}

img
{
	border-radius: 110px;
}

